<main class="container mt-1">
  <h1 class="text-center display-5 mb-3">Converter JSON para CSV</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group col-md-5">
        <textarea class="form-control"
          [(ngModel)]="jsonTextArea"
          [ngClass]="{'is-invalid': cssValidator(f.json)}"
          placeholder="Insira o JSON"
          formControlName="json"
          name="json"
          rows="20">
        </textarea>
        <div *ngIf="f.json.errors?.required" class="invalid-feedback">
          O JSON é obrigatório.
        </div>
        <div *ngIf="f.json.errors?.jsonInvalido" class="invalid-feedback">
          O JSON informado é inválido.
        </div>
      </div>
      <div class="col-md-2">
        <button class="form-control mt-2 mt-md-0 btn btn-primary" (click)="convertJsonToCSV()">Converter</button>
        <button class="form-control mt-2 mb-2 btn btn-secondary" (click)="resetForm()">Limpar</button>
      </div>
      <div class="form-group col-md-5">
        <textarea class="form-control" [(ngModel)]="csvTextArea" formControlName="csv" name="csv" id="csv" rows="20" disable></textarea>
      </div>
    </div>
  </form>
</main>

<router-outlet />
