<main class="container mt-1">
  <h1 class="text-center display-5 mb-3">Converter JSON para CSV</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group col-md-5">
        <textarea class="form-control"
          [(ngModel)]="jsonTextArea"
          [ngClass]="{'is-invalid': cssValidator(formControls.json)}"
          placeholder="Insira o JSON"
          formControlName="json"
          name="json"
          rows="15">
        </textarea>
        <div *ngIf="formControls.json.errors?.required" class="invalid-feedback">
          O JSON é obrigatório.
        </div>
        <div *ngIf="formControls.json.errors?.jsonInvalido" class="invalid-feedback">
          O JSON informado é inválido.
        </div>
        <div *ngIf="formControls.json.errors?.multidimensionalArray" class="invalid-feedback">
          O JSON informado precisa ser um array de objetos.
        </div>
        <div *ngIf="formControls.json.errors?.primitiveTypeError" class="invalid-feedback">
          Os parametros do JSON precisam ser do tipo string, number ou boolean.
        </div>
      </div>
      <div class="col-md-2">
        <button class="form-control mt-2 mt-md-0 btn btn-primary" (click)="convertJsonToCSV()">Converter</button>
        <button class="form-control mt-2 mb-2 btn btn-secondary" (click)="resetForm()">Limpar</button>
      </div>
      <div class="form-group col-md-5">
        <textarea class="form-control" [(ngModel)]="csvTextArea" formControlName="csv" name="csv" id="csv" rows="15" disable></textarea>
      </div>
    </div>
  </form>
  <div *ngIf="csvObj.headers.length > 0" class="row mt-4">
    <div class="col-md-12">
      <app-table-csv [csv]="csvObj"></app-table-csv>
    </div>
  </div>
</main>

<router-outlet />
